@model CRUD.Models.Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Link to your CSS file -->
    <link href="~/css/Signup.css" rel="stylesheet" />

</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Update Product</h3>

                        <form action="/products/UpdatedProduct" method="post" enctype="multipart/form-data" class="requires-validation">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="name" value="@Model.Name" required>
                                <div class="valid-feedback">name field is valid!</div>
                                <div class="invalid-feedback">name field cannot be blank!</div>
                            </div>
                            <div class="col-md-12 my-3">
                                <input class="form-control" type="text" name="Category" value="@Model.Category" required>
                                <div class="valid-feedback">Category field is valid!</div>
                                <div class="invalid-feedback">Category field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="text" name="Description" value="@Model.Description">
                            </div>
                            <div class="col-md-12 my-3">
                                <input class="form-control" type="number" name="Price" value="@Model.Price" required>
                                <div class="valid-feedback">Price field is valid!</div>
                                <div class="invalid-feedback">Price field cannot be blank!</div>
                            </div>

                            <div class="form-button my-3">
                                <label>Current Image</label>
                                @if (Model.ImageData != null && Model.ImageData.Length > 0)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(Model.ImageData)" alt="Current Image" class="w-100 h-350px" />
                                }
                                <label class="mt-3">New Image</label>
                                <input class="form-control my-3" type="file" name="NewImage" />
                                <button id="submit" type="submit" class="btn btn-primary my-3">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    (function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

</script>
</html>
